[Desktop Entry]
Categories=System;Monitor;
Comment=Does the initial Bashrc setup
Exec=bash -c "mv ~/.zshrc_ainyava ~/.zshrc; rm ~/.config/autostart/zshrc-setup.desktop"
Icon=setup
Name=Initial Bashrc setup
StartupNotify=false
Terminal=false
Type=Application
